<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Hashcode</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>      
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script src="../node_modules/socket.io-client/dist/socket.io.js"></script>

   
 <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css">
<script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/javascript/javascript.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/base16-dark.css"> 
   
   <script>
      const ROOM_ID = '<%= roomId %>'
   </script>
</head>
<body>
  <div class="container">
    
    <div class="text" id = "myTextArea">
        <textarea rows="30" cols="60"  id="editor"  placeholder="Type Your Text..."></textarea>       
    </div>
    



    <form id="myform" name="myform" method="post" action="compilecode">
          <h3>Code</h3>
          <textarea rows="13" cols="100" id="code" name="code" ></textarea> 
          <br/>
          <h3>Input</h3>
          <textarea rows="10" cols="100" id="input" name="input" ></textarea> 
          <br/>
          Language : <select name="lang">
            <option value="C">C</option>
            <option value="Java">Java</option>  
            <option value="Python">Python</option> 
          </select>
          Compile With Input : 
          <input type="radio" name="inputRadio" id="inputRadio" value="true"/>yes
          <input type="radio" name="inputRadio" id="inputRadio" value="false"/>No
          <br />
          <input type="submit" value="submit"  name="submit" />
    </form>



    <div class="main">
    <div class="mainLeft">
      <div class="mainVideos">
        <div id="videoGrid"> </div>

      </div>
      <div class="mainControls">
        <div class="mainControlsBlock">
          <div onclick="muteUnmute()" class="mainControlsButton mainMuteButton">
            <i class="fas fa-microphone"></i>
            <span>Mute</span>
          </div>
          <div onclick="playStop()" class="mainControlsButton mainVideoButton">
            <i class="fas fa-video"></i>
            <span>Stop Video</span>
          </div>
        </div>


      <div class="mainControlsBlock">
          <div class="mainControlsButtonEndMeeting">
             <span class="leaveMeeting">End</span>
          </div>
       </div>

      </div>

  
</div>
     
    
  </div>

   



</body>

<script src="js/main.js"></script>

</html>