* {
	margin: 0;
	padding: 0;
	user-select: none;
}

.header{
	text-align: center;
	padding-top: 20px;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#videoGrid {
	display: flex;
	justify-content: right;
}

.text{
	justify-content: left;
	padding: 20px;
	margin-right: 10px;
}

#editor{
	background-color:rgb(43, 42, 42);
	color: #fff;
}

video {
	height: 300px;
	width: 400px;
	object-fit: cover;
}

.main {
	height: 75vh;
	display: flex;
	width: 100%;
	display: flex;
	justify-content: center;
}

.text{
	background: #fff;
}
.mainLeft {
	background: #000;
	flex: 0.8;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mainVideos {
	flex-grow: 1;
	background-color: #222222;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainControls {
	padding: 3px 5px 0px 5px;
	display: flex;
	background-color: #1a1a1a;
	color: #ffffff;
	justify-content: space-between;
}

.mainControlsBlock {
	display: flex;
}
